input::placeholder {
	letter-spacing: -0.3px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
body {
/*	position: relative;*/
	background-color: rgba(120, 120, 120, 0.03);

}

main {
	background-color: rgba(255, 255, 255, 1.0);
}
h2 {
	color:rgba(0, 0, 0, 0.8);
	letter-spacing: -0.6px;
}
h3 {
	letter-spacing: -0.6px;
}
label {
	font-size: 14px;
	letter-spacing: -0.1px;
}
img{
	fill: red;
}
#submit {
	background-color: rgb(87,91,205);
	color: white;
}
 #link{
    color: rgb(87,91,205);
    font-size: 13px;
}
.text-field {
	
	font-size: 12px;
	font-family: Trebuchet MS;
	letter-spacing: -0.1px;
    font-weight: 500;
    color: rgba(60, 60, 60, 0.9);
}
.text-feld {
	margin-bottom: 10px;
	text-align: center;
	color: rgba(60, 60, 60, 1.0);
	font-size: 12px;
	font-size: Trebuchet MS;
}

.dropdown1 {
	 letter-spacing: -0.4px;
    font-size: 14px;
    font-weight: bolder;
    color: rgba(60, 60, 60, 0.8);

}

input {
	cursor: pointer;
	outline: none;
	background-color: white;
	font-size: 10px;
	font-family: Poppins;
}

 input:active, input:focus {

    border: 1px solid blue;
    border-radius: 5px;   
}

input[type="date"]::-webkit-calendar-picker-indicator {
 display: none;
}

#boxx {
	background-color: rgb(255,246,238);
	display: none;
}


/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Poppins;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 11px 7px 7px 6px;
  letter-spacing: -0.9px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}
.select-selected {
  background-color: transparent;
  color: rgba(60, 60, 60, 0.6);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.9px;
  font-family: Poppins;
  border-color: transparent;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border:1px solid gray;

}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div {
  color: rgba(60, 60, 60, 0.7);
  font-weight: 400;
  letter-spacing: -0.3px;
  font-family: Poppins;
  font-size: 13px;
  padding-left: 5px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
	border: 1px solid #e5e5e5;
  position: absolute;
  background-color: #f3f3f3;
  color: black;
  top: 100%;
  right: 0;
  left:0;
  z-index: 99;
  border-radius: 4px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: white;
  margin:3px 4px;
  box-shadow: 0px 2px 2px 2px rgba(128, 128, 128, 0.2);
}


@media all and (min-width:1024px) {  

main {
	border: none;
	grid-template-columns: 1fr 1fr;
	display: grid;
}
section {
	box-shadow: 0px 1px 16px rgba(128, 128, 128, 0.1);
/*	border: 1px solid #e5e5e5;*/
z-index: 1;
}	
.FirstField {
	gap:30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 6.1rem;
}
#logo { 
	position: fixed;
	left: 50px;
	top: 20px;

 }

 .circle1 {
 	background-color: rgb(251,228,209);
 	left: 34.7%;
 	top: -10px;
 	width: 280px;
 	height: 140px;
 	border-radius: 0 0 140px 140px ;
 	transform: rotate(90deg);
 	position: fixed;
 	}
 .circle2 {
 	background-color: rgb(207,209,255);
 	position: absolute;
 	transform: rotate(90deg);
 	bottom: -50px;
 	left: -90px;
 	width: 340px;
 	height: 170px;
 	border-radius: 170px 170px 0 0;
 	position: fixed;
 	}
#boxx{
	display:flex;
	text-align: center;
}
.text-area {
/*	border: 1px solid blue;*/
	text-align: center;
	position: fixed;
	top: 29%;
	width: 50%;
	height: 50%;
	font-family: Poppins;
	letter-spacing: -1.6px;
}

h3 {
	color: rgba(0, 0, 0, 0.6);
	font-weight: 100;
	letter-spacing: 0.3px;
	font-size: 26px;
}

.face {
	width: 30px;
	height: 30px;
}
.Icons{
	position: fixed;
	display: flex;
	align-items: center;
}
.iconCover {
	padding-left: 2px;
}
.icon {
	width: 28px;
	height: 23px;
}
.Linkedin {
	width: 29px;
	height: 14px;
}
#link{
    color: rgb(87,91,205);
    font-size: 16px;
}
.text-field {
	
	font-size: 15px;
	font-family: Trebuchet MS;
	letter-spacing: -0.1px;
    font-weight: 500;
    color: rgba(60, 60, 60, 0.9);
}
.text-feld {

	text-align: center;
	color: rgba(60, 60, 60, 1.0);
	font-size: 15px;
	font-size: Trebuchet MS;
}
.footer {
	position:absolute;
	bottom: -90px;
}
h6 {
	color: rgba(60, 60, 60, 0.6);
	font-size: 8px;
}
.foot {
	font-size: 15px;
}
 		}
